@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* Reset */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  color: hsl(224deg, 23%, 55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 1.55rem;
  background: hsl(225deg, 100%, 94%) url("../images/pattern-background-mobile.svg") no-repeat left top/contain;
}

:is(a, button, input, textarea, select, details, summary):focus-visible {
  outline: hsl(245deg, 75%, 52%) dotted 0.18rem;
  outline-offset: 0.18rem;
}

@media screen and (min-width: 36em) {
  body {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

/* Layout */
.card {
  box-shadow: 0.063rem 0.063rem 3.125rem rgba(31, 47, 86, 0.12), 0 0.063rem 0.125rem rgba(31, 47, 86, 0.24);
  border-radius: 1.25rem;
  transition: all 0.2s ease-in-out;
  background-color: hsl(0deg, 0%, 100%);
}

.card-order {
  max-width: 25.125rem;
  text-align: center;
}

.card-order__banner {
  width: 100%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
  border-radius: 1.25rem 1.25rem 0 0;
}

.card-order__content {
  padding: 1.5rem;
}

.card-order__title {
  font-size: 1.35rem;
}

.card-order__description {
  line-height: 1.5;
  margin: 1.125rem 0;
}

.card-order__plan {
  background-color: hsl(225deg, 100%, 98%);
  padding: 1rem;
  line-height: 1.25;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.card-order__plan .btn--active {
  font-size: 0.738rem;
}

.card-order__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 2.5rem;
}

.card-order__resume {
  flex-grow: 1;
  text-align: left;
}

.card-order__type, .card-order__price {
  font-size: 0.875rem;
}

.card-order .btn--primary {
  margin: 1.2rem 0;
}

@media screen and (min-width: 36em) {
  .card-order__content {
    padding: 2rem;
  }

  .card-order__title {
    font-size: 1.5rem;
  }

  .card-order__description {
    line-height: 1.6;
  }

  .card-order__plan {
    gap: 1.25rem;
  }

  .card-order__plan .btn--active {
    font-size: 0.875rem;
  }

  .card-order__icon {
    max-width: 3rem;
  }

  .card-order__type, .card-order__price {
    font-size: 1.025rem;
  }
}

@media screen and (min-width: 89.9375em) {
  .card-order {
    max-width: 28.125rem;
  }

  .card-order__content {
    padding: 2.5rem 2.95rem 2.95rem 2.95rem;
  }

  .card-order__title {
    font-size: 1.75rem;
  }

  .card-order__plan {
    line-height: 1.6;
    padding: 1.5rem;
  }

  .card-order .btn--primary {
    margin: 1.875rem 0;
  }
}

@media (hover: hover) {
  .card:hover {
    box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.25), 0 0.625rem 0.625rem rgba(31, 47, 86, 0.22);
  }

  .card:hover .card-order__banner {
    opacity: 0.85;
  }
}

/* Components */
.sr-only {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: hsl(223deg, 47%, 23%);
}

.btn {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.938rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.btn--link {
  padding: 0;
  background-color: transparent;
}

.btn--active {
  color: hsl(245deg, 75%, 52%);
  text-decoration: underline;
}

.btn--primary {
  display: block;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  padding: 0.95rem 1.5rem;
  background-color: hsl(245deg, 75%, 52%);
  border-radius: 0.7rem;
  box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.13), 0 0.625rem 0.625rem rgba(31, 47, 86, 0.18);
}

.btn--secondary {
  color: hsl(224deg, 23%, 55%);
}

@media (hover: hover) {
  .btn--primary:hover {
    background-color: #766cea;
    box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.25), 0 0.625rem 0.625rem rgba(31, 47, 86, 0.22);
  }

  .btn--active:hover {
    color: #766cea;
    text-decoration: none;
  }

  .btn--secondary:hover {
    color: hsl(223deg, 47%, 23%);
  }
}

.attribution {
  margin-block: 0.5rem;
  font-size: 0.735rem;
  text-align: center;
}

.attribution a {
  color: hsl(245deg, 75%, 52%);
}

@media screen and (min-width: 36em) and (min-height: 50em) {
  .attribution {
    position: fixed;
    bottom: 0.325rem;
    width: 100%;
  }
}

@media (hover: hover) {
  .attribution a:hover {
    color: #3828e0;
  }
}